name: Publish docker image
on:
  release:
    types: [published]
jobs:
  main:
    name: Build and push docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - 
        name: Check out the repo
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - 
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Build and push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: budziam/amxx-builder:1.8.2
          build-args: |
            BASE_URL=https://www.amxmodx.org/release/amxmodx-1.8.2-base-linux.tar.gz
